<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/stylesheets/estilo.css">
   <title>Document</title>
</head>
<body>
   <div class="sidebar">
      <div class="profile">
          <img src="/images/image-removebg-preview.png" alt="Perfil">
          <h2>Nombre Usuario</h2>
          <p>usuario@example.com</p>
      </div>
      <!-- Aquí puedes agregar más contenido al sidebar si lo deseas -->
  </div>

  <div class="main-content">
      <button class="cart-button">Carrito de Compra</button>

      <div class="product">
          <img src="/images/images.png" alt="Producto 1">
          <button>Ir</button>
      </div>
      <div class="product">
          <img src="/images/images2.png" alt="Producto 2">
          <button>Ir</button>
      </div>
      <div class="product">
          <img src="/images/sprite-logo-0FD1748C65-seeklogo.com.png" alt="Producto 3">
          <button>Ir</button>
      </div>
      <div class="product">
          <img src="/images/images.jfif" alt="Producto 4">
          <button>Ir</button>
      </div>

 <br><br>

      <div class="product">
         <img src="/images/CIavLpX4_400x400.png" alt="Producto 1">
         <button>Ir</button>
      </div>
      <div class="product">
         <img src="/images/images3.png" alt="Producto 2">
         <button>Ir</button>
      </div>
      <div class="product">
         <img src="/images/Snacksyummmies_seo.png" alt="Producto 3">
         <button>Ir</button>
      </div>
      <div class="product">
         <img src="/images/images4.png" alt="Producto 4">
         <button>Ir</button>
      </div>
      </div>
</body>
</html>