<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/hola.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>

</head>
<body>
   
        <div class="box">
     
            <spa class="bg-animate"></spa>
            <spa class="bg-animate2"></spa>

            <form action="/recuperar_cuenta" method="post">
            <div class="form-box register{}"><br>

               
                <h2>Recuperacion de<br> 
                    Contraseña</h2><br>
                    <p class="holi">Ingrese un correo para eviar un codigo de verificacion</p>
                    
                    <div class="input-box">
                        <input type="text" name="correo" value="<% if(typeof valores != 'undefined') { %><%= valores.correo %><% } %>">
                        <label>correo</label>
                        <i class='bx bxs-envelope'></i>
                        <% if (typeof errors !== 'undefined') { %>
                            <% if ( errors.correo ) { %>
                                    <div>
                                        <h2 class="error" 
                                            
                                            style="font-family: 'Arial', Times, serif;
                                            font: small-caps 200% serif;
                                            font-size: 18px;
                                            color: #ff0000;
                                            position: relative;
                                            top: -15x;
            
                                            "><i class="fa-solid fa-circle-exclamation" style="color: #db0c0c;"></i> <%= errors.correo %></h2>
                                        </div>
                              <% } %>
                              <% } %>
                    </div>
                
                    <button type="submit" class="btn">Enviar
                    </button>
            </div>
        </div>
    </form>
</body>
</html>


